<div id="<%= dom_id turma %>">
  <p>
    <strong>Id:</strong>
    <%= turma.id %>
  </p>

  <p>
    <strong>:</strong>
    <%= turma. %>
  </p>

  <p>
    <strong>Letra:</strong>
    <%= turma.letra %>
  </p>

  <p>
    <strong>:</strong>
    <%= turma. %>
  </p>

  <p>
    <strong>Ano:</strong>
    <%= turma.ano %>
  </p>

  <p>
    <strong>:</strong>
    <%= turma. %>
  </p>

  <p>
    <strong>Anoletivo:</strong>
    <%= turma.anoLetivo %>
  </p>

  <p>
    <strong>:</strong>
    <%= turma. %>
  </p>

</div>
