<div id="<%= dom_id aluno %>">
  <p>
    <strong>Id:</strong>
    <%= aluno.id %>
  </p>

  <p>
    <strong>:</strong>
    <%= aluno. %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= aluno.nome %>
  </p>

  <p>
    <strong>:</strong>
    <%= aluno. %>
  </p>

  <p>
    <strong>Turma:</strong>
    <%= aluno.turma %>
  </p>

  <p>
    <strong>:</strong>
    <%= aluno._id %>
  </p>

</div>
