<%= form_with(model: aluno) do |form| %>
  <% if aluno.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(aluno.errors.count, "error") %> prohibited this aluno from being saved:</h2>

      <ul>
        <% aluno.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :id, style: "display: block" %>
    <%= form.text_field :id %>
  </div>

  <div>
    <%= form.label :, style: "display: block" %>
    <%= form.number_field : %>
  </div>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :, style: "display: block" %>
    <%= form.text_field : %>
  </div>

  <div>
    <%= form.label :turma, style: "display: block" %>
    <%= form.text_field :turma %>
  </div>

  <div>
    <%= form.label :_id, style: "display: block" %>
    <%= form.text_field :_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
