<div id="<%= dom_id atividade %>">
  <p>
    <strong>Id:</strong>
    <%= atividade.id %>
  </p>

  <p>
    <strong>:</strong>
    <%= atividade. %>
  </p>

  <p>
    <strong>Titulo:</strong>
    <%= atividade.titulo %>
  </p>

  <p>
    <strong>:</strong>
    <%= atividade. %>
  </p>

  <p>
    <strong>Descrcao:</strong>
    <%= atividade.descrcao %>
  </p>

  <p>
    <strong>:</strong>
    <%= atividade. %>
  </p>

  <p>
    <strong>Bimenstre:</strong>
    <%= atividade.bimenstre %>
  </p>

  <p>
    <strong>:</strong>
    <%= atividade. %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= atividade.data %>
  </p>

  <p>
    <strong>:</strong>
    <%= atividade. %>
  </p>

  <p>
    <strong>Disciplina:</strong>
    <%= atividade.disciplina %>
  </p>

  <p>
    <strong>:</strong>
    <%= atividade._id %>
  </p>

</div>
