<div id="<%= dom_id avalium %>">
  <p>
    <strong>Id:</strong>
    <%= avalium.id %>
  </p>

  <p>
    <strong>:</strong>
    <%= avalium. %>
  </p>

  <p>
    <strong>Pontos:</strong>
    <%= avalium.pontos %>
  </p>

  <p>
    <strong>:</strong>
    <%= avalium. %>
  </p>

  <p>
    <strong>Observacao:</strong>
    <%= avalium.observacao %>
  </p>

  <p>
    <strong>:</strong>
    <%= avalium. %>
  </p>

  <p>
    <strong>Atividade:</strong>
    <%= avalium.Atividade %>
  </p>

  <p>
    <strong>:</strong>
    <%= avalium._id %>
  </p>

  <p>
    <strong>Aluno:</strong>
    <%= avalium.Aluno %>
  </p>

  <p>
    <strong>:</strong>
    <%= avalium._id %>
  </p>

</div>
