<div id="<%= dom_id disciplica %>">
  <p>
    <strong>Id:</strong>
    <%= disciplica.id %>
  </p>

  <p>
    <strong>:</strong>
    <%= disciplica. %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= disciplica.nome %>
  </p>

  <p>
    <strong>:</strong>
    <%= disciplica. %>
  </p>

  <p>
    <strong>Anoletivo:</strong>
    <%= disciplica.anoletivo %>
  </p>

  <p>
    <strong>:</strong>
    <%= disciplica. %>
  </p>

  <p>
    <strong>Turma:</strong>
    <%= disciplica.Turma %>
  </p>

  <p>
    <strong>:</strong>
    <%= disciplica._id %>
  </p>

</div>
